nodered/dashboard.txt
[{"id":"7177e153.f4608","type":"http in","z":"a903042c.ee3c9","name":"","url":"/pHmeasurements","method":"get","swaggerDoc":"","x":197,"y":52,"wires":[["c4c91cba.431b2"]]},{"id":"c4c91cba.431b2","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>pH Measurements</title>\n  <link rel=\"stylesheet\" href=\"//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css\">\n  <script src=\"//code.jquery.com/jquery-1.10.2.js\"></script>\n  <script src=\"//code.jquery.com/ui/1.11.4/jquery-ui.js\"></script>\n </head>\n \n <body>\n\n\t<div class=\"dGauge-group\" style=\"text-align:center\">\n\t    <H2><div class=\"gauges\">pH Measurements</div></H2>\n\t    <table align=\"center\">\n\t        <tr><td>Upstream pH</td></tr>\n\t        <tr>\n\t            <td id=\"pH04chart\" ></td>\n\t        </tr>\n\t        <tr><td>Downstream pH</td></tr>\n\t        <tr>\n\t            <td id=\"pH05chart\" ></td>\n\t        </tr>\t        \n\t   </table>\n\t</div>\n\n\n<script type=\"text/javascript\" src=\"https://www.google.com/jsapi\"></script>  \n<script>\n\nvar Value = 0;\n\n      google.load(\"visualization\", \"1\", {packages:[\"gauge\"]});\n      google.setOnLoadCallback(drawChart);\n      function drawChart() {\n\n        var pH04data = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['pH', 0]\n        ]);\n\n\n        var pH04Options = {\n          width: 400, height: 200,\n          min: 0, max: 14,\n          majorTicks: [\"0\",\"\",\"2\",\"\",\"4\",\"\",\"6\",\"\",\"8\",\"\",\"10\",\"\",\"12\",\"\",\"14\"],\n          minorTicks: 5\n        };\n\n        var pH04chart = new google.visualization.Gauge(document.getElementById('pH04chart'));\n\n        pH04chart.draw(pH04data, pH04Options);\n        \n              \n        var pH05data = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['pH', 0]\n        ]);\n\n\n        var pH05Options = {\n          width: 400, height: 200,\n          min: 0, max: 14,\n          majorTicks: [\"0\",\"\",\"2\",\"\",\"4\",\"\",\"6\",\"\",\"8\",\"\",\"10\",\"\",\"12\",\"\",\"14\"],\n          minorTicks: 5\n        };\n\n        var pH05chart = new google.visualization.Gauge(document.getElementById('pH05chart'));\n\n        pH05chart.draw(pH05data, pH05Options );       \n        \n        \n\n        setInterval(function() {\n          $.get((\"/pH04\"), function(data){pH04Value = data;});\n          pH04data.setValue(0, 1, pH04Value);\n          pH04chart.draw(pH04data, pH04Options);\n        $.get((\"/pH05\"), function(data){pH05Value = data;});\n          pH05data.setValue(0, 1, pH05Value);\n          pH05chart.draw(pH05data, pH05Options);\n        }, 2000);\n      }\n      \n  </script>\n\n</body>\n</html>","x":413,"y":62,"wires":[["ee562f44.971ee8"]]},{"id":"ee562f44.971ee8","type":"http response","z":"a903042c.ee3c9","name":"","x":636,"y":58,"wires":[]},{"id":"83f291b.8f5987","type":"ibmiot in","z":"a903042c.ee3c9","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"PH0001","applicationId":"","deviceType":"WATERPH","eventType":"+","commandType":"","format":"json","name":"PH0001","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":179.57147216796875,"y":333.1427917480469,"wires":[["282f1e58.573192"]]},{"id":"282f1e58.573192","type":"function","z":"a903042c.ee3c9","name":"","func":"\n    context.global.pH05 = msg.payload.d.pH;\n    context.global.voltage05 = msg.payload.d.Voltage;\n\nreturn msg;","outputs":1,"noerr":0,"x":384.57147216796875,"y":335.1427917480469,"wires":[[]]},{"id":"12e4ccf7.99c233","type":"http in","z":"a903042c.ee3c9","name":"","url":"/pH05","method":"get","swaggerDoc":"","x":206.07147216796875,"y":462.6427917480469,"wires":[["1e2f5ea.b7fa8a1"]]},{"id":"1e2f5ea.b7fa8a1","type":"function","z":"a903042c.ee3c9","name":"","func":"msg.payload = {'pH': context.global.pH05};\nreturn msg;","outputs":1,"noerr":0,"x":417.07147216796875,"y":466.6427917480469,"wires":[["ad2e16e4.763c"]]},{"id":"3b3e9c7f.14d5d4","type":"http response","z":"a903042c.ee3c9","name":"","x":720.0714721679688,"y":453.1427917480469,"wires":[]},{"id":"ad2e16e4.763c","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.pH}}","x":581.0714721679688,"y":461.1427917480469,"wires":[["3b3e9c7f.14d5d4"]]},{"id":"e5e74d05.7ffd78","type":"ibmiot in","z":"a903042c.ee3c9","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"PH0002","applicationId":"","deviceType":"WATERPH","eventType":"+","commandType":"","format":"json","name":"PH0002","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":554.4285888671875,"y":337.7142333984375,"wires":[["786c52e0.1d4c9c"]]},{"id":"786c52e0.1d4c9c","type":"function","z":"a903042c.ee3c9","name":"","func":"\n    context.global.pH04 = msg.payload.d.pH;\n    context.global.voltage04 = msg.payload.d.Voltage;\n\nreturn msg;","outputs":1,"noerr":0,"x":772.4285888671875,"y":336.7142333984375,"wires":[[]]},{"id":"de0f04de.b2dc2","type":"http in","z":"a903042c.ee3c9","name":"","url":"/pH04","method":"get","swaggerDoc":"","x":150.9285888671875,"y":698.2142333984375,"wires":[["1ac743bb.0116d4"]]},{"id":"1ac743bb.0116d4","type":"function","z":"a903042c.ee3c9","name":"","func":"msg.payload = {'pH': context.global.pH04};\nreturn msg;","outputs":1,"noerr":0,"x":368.9285888671875,"y":722.2142333984375,"wires":[["a362db4b.74a6"]]},{"id":"fbd4b548.f344d","type":"http response","z":"a903042c.ee3c9","name":"","x":755.9285888671875,"y":699.7142333984375,"wires":[]},{"id":"a362db4b.74a6","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.pH}}","x":568.9285888671875,"y":727.7142333984375,"wires":[["fbd4b548.f344d"]]},{"id":"86a55205.a6b468","type":"http response","z":"a903042c.ee3c9","name":"","x":640,"y":165,"wires":[]},{"id":"682cc204.9b6ff4","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>Water World Dashboard</title>\n  <link rel=\"stylesheet\" href=\"//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css\">\n  <script src=\"//code.jquery.com/jquery-1.10.2.js\"></script>\n  <script src=\"//code.jquery.com/ui/1.11.4/jquery-ui.js\"></script>\n </head>\n \n <body>\n\n\t<div class=\"dGauge-group\" style=\"text-align:center\">\n\t    <H2><div class=\"gauges\">Waterworld Dashboard</div></H2>\n\t    <table align=\"center\">\n\n\t        <tr>\n\t        \t<th>Upstream pH</th><th></th><th>Downstream pH</th>\n        \t</tr>\n\t        <tr><td class=\"pH04txt\"></td><td></td><td class=\"pH05txt\"></td></tr>\n        \t<tr>\n\t            <td id=\"pH04chart\" ></td><td></td>\n\t            <td id=\"pH05chart\" ></td>\n\t        </tr>\n\t        <tr>\n\t            <th>Upstream Flow</th>\n\t        \t<th>Midstream Flow</th>\n\t        \t<th>Downstream Flow</th>\n            </tr>\n\t        <tr>\n\t            <td id=\"Flow01chart\" ></td>\n\t            <td id=\"Flow02chart\" ></td>\n\t            <td id=\"Flow03chart\" ></td>\n\t        </tr>\t    \n\t        \t        <tr>\n\t        \t<th>Smart Meter 1<br>Continuous Usage</th><th></th><th>Smart Meter 2<br>Continuous Usage</th>\n        \t</tr>\n\t            <td id=\"smart01chart\" ></td><td></td>\n\t            <td id=\"smart02chart\" ></td>\n\t        </tr>\t  \n\t   </table>\n\t</div>\n\n\n<script type=\"text/javascript\" src=\"https://www.google.com/jsapi\"></script>  \n<script>\n\nvar Value = 0;\n// var pH05txtX = document.getElementById(\"pH05txt\");\n\n      google.load(\"visualization\", \"1\", {packages:[\"gauge\"]});\n      google.setOnLoadCallback(drawChart);\n      function drawChart() {\n\n        var Flow01Options = {\n          width: 400, height: 200,\n          min: 0, max: 100,\n          yellowFrom: 50,\n          yellowTo: 60,\n          majorTicks: [\"0\",\"\",\"20\",\"\",\"40\",\"\",\"60\",\"\",\"80\",\"\",\"100\"],\n          minorTicks: 5\n        };\n\n        var Flow01data = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['l/min', 0]\n        ]);\n\n        var Flow01chart = new google.visualization.Gauge(document.getElementById('Flow01chart'));\n\n        Flow01chart.draw(Flow01data, Flow01Options);\n        \n        var Flow02Options = {\n          width: 400, height: 200,\n          min: 0, max: 100,\n          yellowFrom: 50,\n          yellowTo: 60,\n          majorTicks: [\"0\",\"\",\"20\",\"\",\"40\",\"\",\"60\",\"\",\"80\",\"\",\"100\"],\n          minorTicks: 5\n        };           \n        var Flow02data = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['l/min', 0]\n        ]);\n\n        var Flow02chart = new google.visualization.Gauge(document.getElementById('Flow02chart'));\n\n        Flow02chart.draw(Flow02data, Flow02Options);\n        \n        var Flow03Options = {\n          width: 400, height: 200,\n          min: 0, max: 100,\n          yellowFrom: 50,\n          yellowTo: 60,\n          majorTicks: [\"0\",\"\",\"20\",\"\",\"40\",\"\",\"60\",\"\",\"80\",\"\",\"100\"],\n          minorTicks: 5\n        };\n        var Flow03data = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['l/min', 0]\n        ]);\n\n\n        var Flow03chart = new google.visualization.Gauge(document.getElementById('Flow03chart'));\n\n        Flow03chart.draw(Flow03data, Flow03Options);\n              \n        \n        \n        var pH04data = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['pH', 0]\n        ]);\n\n\n        var pH04Options = {\n          width: 400, height: 200,\n          min: 0, max: 14,\n          greenFrom: 6,\n          greenTo: 7.5,\n          majorTicks: [\"0\",\"\",\"2\",\"\",\"4\",\"\",\"6\",\"\",\"8\",\"\",\"10\",\"\",\"12\",\"\",\"14\"],\n          minorTicks: 5\n        };\n\n        var pH04chart = new google.visualization.Gauge(document.getElementById('pH04chart'));\n        $.get((\"/pH04txt\"), function(data) {$('.pH04txt').html(data)});\n        pH04chart.draw(pH04data, pH04Options);\n        \n              \n        var pH05data = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['pH', 0]\n        ]);\n\n\n        var pH05Options = {\n          width: 400, height: 200,\n          min: 0, max: 14,\n          greenFrom: 6,\n          greenTo: 7.5,\n          majorTicks: [\"0\",\"\",\"2\",\"\",\"4\",\"\",\"6\",\"\",\"8\",\"\",\"10\",\"\",\"12\",\"\",\"14\"],\n          minorTicks: 5\n        };\n\n        var pH05chart = new google.visualization.Gauge(document.getElementById('pH05chart'));\n//        $('.pH05txt').html(\"Hello\");\n\n        pH05chart.draw(pH05data, pH05Options );\n        \n        \n        \n                \n        var smart01data = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['KLitres', 0]\n        ]);\n\n\n        var smartOptions = {\n          width: 400, height: 200,\n          min: 0, max: 100,\n          greenFrom: 0,\n          greenTo: 50,\n          yellowFrom: 50,\n          yellowTo: 80,\n          redFrom: 80,\n          redTo: 100,\n          majorTicks: [\"0\",\"\",\"20\",\"\",\"40\",\"\",\"60\",\"\",\"80\",\"\",\"100\"],\n          minorTicks: 5\n        };\n\n        var smart01chart = new google.visualization.Gauge(document.getElementById('smart01chart'));\n\n        smart01chart.draw(smart01data, smartOptions);\n        \n              \n        var smart02data = google.visualization.arrayToDataTable([\n          ['Label', 'Value'],\n          ['KLitres', 0]\n        ]);\n\n\n\n        var smart02chart = new google.visualization.Gauge(document.getElementById('smart02chart'));\n\n        smart02chart.draw(smart02data, smartOptions );\n        \n        \n        \n        \n        \n        \n        var Flow01Value, Flow02Value, Flow03Value, Flow01Avg, Flow02Avg, Flow03Avg;\n        var pH04Value, pH05Value;\n        var smart01Value, smart02Value;\n        \n        setInterval(function() {\n          $.get((\"/flow01\"), function(data){Flow01Value = data;});\n          Flow01data.setValue(0, 1, Flow01Value);\n          $.get((\"/flow01a\"), function(data){Flow01Avg = parseInt(data);});\n          Flow01Options.yellowFrom = Flow01Avg-7;\n          Flow01Options.yellowTo = Flow01Avg+7;\n          Flow01chart.draw(Flow01data, Flow01Options);\n          $.get((\"/flow02\"), function(data){Flow02Value = data;});\n          Flow02data.setValue(0, 1, Flow02Value);\n          $.get((\"/flow02a\"), function(data){Flow02Avg = parseInt(data);});\n          Flow02Options.yellowFrom = Flow02Avg-7;\n          Flow02Options.yellowTo = Flow02Avg+7;\n          Flow02chart.draw(Flow02data, Flow02Options);\n          $.get((\"/flow03\"), function(data){Flow03Value = data;});\n          Flow03data.setValue(0, 1, Flow03Value);\n          $.get((\"/flow03a\"), function(data){Flow03Avg = parseInt(data);});\n          Flow03Options.yellowFrom = Flow03Avg-7;\n          Flow03Options.yellowTo = Flow03Avg+7;\n          Flow03chart.draw(Flow03data, Flow03Options);\n\n          $.get((\"/pH04\"), function(data){pH04Value = data;});\n          $.get((\"/pH04txt\"), function(data) {$('.pH04txt').html(data)});\n          pH04data.setValue(0, 1, pH04Value);\n          pH04chart.draw(pH04data, pH04Options);\n          \n          $.get((\"/pH05txt\"), function(data) {$('.pH05txt').html(data)});\n          $.get((\"/pH05\"), function(data){pH05Value = data;});\n          pH05data.setValue(0, 1, pH05Value);\n          pH05chart.draw(pH05data, pH05Options);\n\n          $.get((\"/smart01\"), function(data){smart01Value = data;});\n          smart01data.setValue(0, 1, smart01Value);\n          smart01chart.draw(smart01data, smartOptions);\n          $.get((\"/smart02\"), function(data){smart02Value = data;});\n          smart02data.setValue(0, 1, smart02Value);\n          smart02chart.draw(smart02data, smartOptions);\n\n        }, 2000);\n      }\n      \n  </script>\n\n</body>\n</html>","x":417,"y":169,"wires":[["86a55205.a6b468"]]},{"id":"96a10545.50a23","type":"http in","z":"a903042c.ee3c9","name":"","url":"/flowmeasurements","method":"get","swaggerDoc":"","x":211,"y":159,"wires":[["682cc204.9b6ff4"]]},{"id":"9f3a4a87.183bb","type":"http in","z":"a903042c.ee3c9","name":"","url":"/flow01","method":"get","swaggerDoc":"","x":191,"y":859,"wires":[["fe8f5ef.8453e2"]]},{"id":"fe8f5ef.8453e2","type":"function","z":"a903042c.ee3c9","name":"","func":"msg.payload = {'Flow': context.global.deviceArray[1].Flow};\nreturn msg;","outputs":1,"noerr":0,"x":425,"y":871,"wires":[["9db13f6a.19c02","5bed764f.76482"]]},{"id":"49906b1.0475b14","type":"http response","z":"a903042c.ee3c9","name":"","x":708,"y":945.5,"wires":[]},{"id":"9db13f6a.19c02","type":"debug","z":"a903042c.ee3c9","name":"","active":false,"console":"false","complete":"false","x":620,"y":882.5,"wires":[]},{"id":"5bed764f.76482","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.Flow}}","x":586,"y":944.5,"wires":[["49906b1.0475b14"]]},{"id":"783119db.97682","type":"http in","z":"a903042c.ee3c9","name":"","url":"/flow02","method":"get","swaggerDoc":"","x":208,"y":1120,"wires":[["fcccf259.67f228"]]},{"id":"fcccf259.67f228","type":"function","z":"a903042c.ee3c9","name":"","func":"msg.payload = {'Flow': context.global.deviceArray[2].Flow};\nreturn msg;","outputs":1,"noerr":0,"x":448,"y":1094,"wires":[["1f1a0333.19d98d","b54101cc.e7609"]]},{"id":"d04468f8.af6dc","type":"http response","z":"a903042c.ee3c9","name":"","x":731,"y":1168.5,"wires":[]},{"id":"1f1a0333.19d98d","type":"debug","z":"a903042c.ee3c9","name":"","active":false,"console":"false","complete":"false","x":643,"y":1105.5,"wires":[]},{"id":"b54101cc.e7609","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.Flow}}","x":609,"y":1167.5,"wires":[["d04468f8.af6dc"]]},{"id":"49bcc842.d781e","type":"http in","z":"a903042c.ee3c9","name":"","url":"/flow03","method":"get","swaggerDoc":"","x":199,"y":1319,"wires":[["700cc9e.f1937b8"]]},{"id":"700cc9e.f1937b8","type":"function","z":"a903042c.ee3c9","name":"","func":"msg.payload = {'Flow': context.global.deviceArray[3].Flow};\nreturn msg;","outputs":1,"noerr":0,"x":433,"y":1331,"wires":[["f876c62f.762fe","4dabadaf.a50074"]]},{"id":"6a04b5d2.7bb25c","type":"http response","z":"a903042c.ee3c9","name":"","x":716,"y":1405.5,"wires":[]},{"id":"f876c62f.762fe","type":"debug","z":"a903042c.ee3c9","name":"","active":false,"console":"false","complete":"false","x":628,"y":1342.5,"wires":[]},{"id":"4dabadaf.a50074","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.Flow}}","x":594,"y":1404.5,"wires":[["6a04b5d2.7bb25c"]]},{"id":"81ecf32d.434ea8","type":"http in","z":"a903042c.ee3c9","name":"","url":"/flow01a","method":"get","swaggerDoc":"","x":193,"y":974,"wires":[["bcd825ef.8d3b2"]]},{"id":"bcd825ef.8d3b2","type":"function","z":"a903042c.ee3c9","name":"","func":"msg.payload = {'Flow': context.global.deviceArray[1].AvgFlow};\nreturn msg;","outputs":1,"noerr":0,"x":427,"y":971,"wires":[["23a55eb7.084ce2","925ccdfe.634bd"]]},{"id":"193ada01.d650f6","type":"http response","z":"a903042c.ee3c9","name":"","x":710,"y":1060.5,"wires":[]},{"id":"23a55eb7.084ce2","type":"debug","z":"a903042c.ee3c9","name":"","active":false,"console":"false","complete":"false","x":622,"y":997.5,"wires":[]},{"id":"925ccdfe.634bd","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.Flow}}","x":588,"y":1059.5,"wires":[["193ada01.d650f6"]]},{"id":"91acd2a7.4e23a","type":"http in","z":"a903042c.ee3c9","name":"","url":"/flow02a","method":"get","swaggerDoc":"","x":206,"y":1209,"wires":[["f72d6ab2.25b6a"]]},{"id":"f72d6ab2.25b6a","type":"function","z":"a903042c.ee3c9","name":"","func":"msg.payload = {'Flow': context.global.deviceArray[2].AvgFlow};\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1221,"wires":[["1001d6d4.81ff11","8f398077.3a645"]]},{"id":"776f5624.97dd1","type":"http response","z":"a903042c.ee3c9","name":"","x":723,"y":1295.5,"wires":[]},{"id":"1001d6d4.81ff11","type":"debug","z":"a903042c.ee3c9","name":"","active":false,"console":"false","complete":"false","x":635,"y":1232.5,"wires":[]},{"id":"8f398077.3a645","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.Flow}}","x":601,"y":1294.5,"wires":[["776f5624.97dd1"]]},{"id":"da083574.1c1138","type":"function","z":"a903042c.ee3c9","name":"","func":"msg.payload = {'Flow': context.global.deviceArray[3].AvgFlow};\nreturn msg;","outputs":1,"noerr":0,"x":444,"y":1450,"wires":[["f99bb9b7.e7762","29986079.98eeb8"]]},{"id":"6ec4a913.be83d8","type":"http in","z":"a903042c.ee3c9","name":"","url":"/flow03a","method":"get","swaggerDoc":"","x":210,"y":1438,"wires":[["da083574.1c1138"]]},{"id":"f99bb9b7.e7762","type":"debug","z":"a903042c.ee3c9","name":"","active":false,"console":"false","complete":"false","x":639,"y":1461.5,"wires":[]},{"id":"29986079.98eeb8","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.Flow}}","x":605,"y":1523.5,"wires":[["c3afc448.a5861"]]},{"id":"c3afc448.a5861","type":"http response","z":"a903042c.ee3c9","name":"","x":727,"y":1524.5,"wires":[]},{"id":"bb332c74.98ba98","type":"ibmiot in","z":"a903042c.ee3c9","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"SMART01","applicationId":"","deviceType":"SMARTMETER","eventType":"+","commandType":"","format":"json","name":"SMART01","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":139.5,"y":638.5,"wires":[["ccb27046.7cc72"]]},{"id":"ccb27046.7cc72","type":"function","z":"a903042c.ee3c9","name":"","func":"context.global.smart01 = 100.0*msg.payload.d.ContTotal;\nreturn msg;","outputs":1,"noerr":0,"x":404.5,"y":618.5,"wires":[[]]},{"id":"7250734d.9383fc","type":"function","z":"a903042c.ee3c9","name":"","func":"context.global.smart02 = 100.0*msg.payload.d.ContTotal;\nreturn msg;","outputs":1,"noerr":0,"x":831,"y":631,"wires":[[]]},{"id":"e0d35b6f.436b3","type":"ibmiot in","z":"a903042c.ee3c9","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"SMART02","applicationId":"","deviceType":"SMARTMETER","eventType":"+","commandType":"","format":"json","name":"SMART01","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":581,"y":620,"wires":[["7250734d.9383fc"]]},{"id":"3c6fcfc2.9c8a58","type":"http in","z":"a903042c.ee3c9","name":"","url":"/smart01","method":"get","swaggerDoc":"","x":220,"y":1581,"wires":[["47861514.aeccac"]]},{"id":"47861514.aeccac","type":"function","z":"a903042c.ee3c9","name":"","func":"msg.payload = {'total': parseInt(context.global.smart01)};\nreturn msg;","outputs":1,"noerr":0,"x":454,"y":1593,"wires":[["b7e3e8f0.82fb6","d7cce24b.ab5ad"]]},{"id":"51dd5ba0.ff1cdc","type":"http response","z":"a903042c.ee3c9","name":"","x":737,"y":1667.5,"wires":[]},{"id":"b7e3e8f0.82fb6","type":"debug","z":"a903042c.ee3c9","name":"","active":false,"console":"false","complete":"false","x":649,"y":1604.5,"wires":[]},{"id":"d7cce24b.ab5ad","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.total}}","x":615,"y":1666.5,"wires":[["51dd5ba0.ff1cdc"]]},{"id":"4a5c8647.93923","type":"http in","z":"a903042c.ee3c9","name":"","url":"/smart02","method":"get","swaggerDoc":"","x":225,"y":1709,"wires":[["dbf40ae1.5a496"]]},{"id":"dbf40ae1.5a496","type":"function","z":"a903042c.ee3c9","name":"","func":"msg.payload = {'total': context.global.smart02};\nreturn msg;","outputs":1,"noerr":0,"x":459,"y":1721,"wires":[["2d404eab.0bc54a","bc2306bc.f46dd"]]},{"id":"6a74b9dd.9fbc3","type":"http response","z":"a903042c.ee3c9","name":"","x":742,"y":1795.5,"wires":[]},{"id":"2d404eab.0bc54a","type":"debug","z":"a903042c.ee3c9","name":"","active":false,"console":"false","complete":"false","x":654,"y":1732.5,"wires":[]},{"id":"bc2306bc.f46dd","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.total}}","x":620,"y":1794.5,"wires":[["6a74b9dd.9fbc3"]]},{"id":"fa291ec8.b08658","type":"http in","z":"a903042c.ee3c9","name":"","url":"/pH05txt","method":"get","swaggerDoc":"","x":101.5,"y":522.5,"wires":[["5a8c7365.796a7c"]]},{"id":"e76e0dd2.4f184","type":"http response","z":"a903042c.ee3c9","name":"","x":816.5,"y":544,"wires":[]},{"id":"e0074e03.e19c28","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<strong style=\"color: red;\">Pollution Event! </strong>Maximo WO#<a target=\"_blank\" href=\"http://172.16.159.135/maximo/ui/login?event=loadapp&value=wotrack&additionalevent=useqbe&additionaleventvalue=wonum={{WO}}\">{{WO}}</a>","x":616.5,"y":579.5,"wires":[["e76e0dd2.4f184"]]},{"id":"5a8c7365.796a7c","type":"function","z":"a903042c.ee3c9","name":"","func":"msg.WO = context.global.pHupWO;\nreturn msg;","outputs":1,"noerr":0,"x":296.5,"y":524.5,"wires":[["d8e768a2.61bde8"]]},{"id":"d99239fa.88349","type":"function","z":"a903042c.ee3c9","name":"","func":"msg.WO = context.global.pHdownWO;\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":821,"wires":[["1c7cc5b4.6624aa"]]},{"id":"16ddf5a3.9f4efa","type":"http in","z":"a903042c.ee3c9","name":"","url":"/pH04txt","method":"get","swaggerDoc":"","x":187,"y":819,"wires":[["d99239fa.88349"]]},{"id":"641eca65.7f7b34","type":"template","z":"a903042c.ee3c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<strong style=\"color: red;\">Pollution Event! </strong>Maximo WO#<a target=\"_blank\" href=\"http://172.16.159.135/maximo/ui/login?event=loadapp&value=wotrack&additionalevent=useqbe&additionaleventvalue=wonum={{WO}}\">{{WO}}</a>","x":669,"y":839,"wires":[["a7423ccd.d79f38"]]},{"id":"a7423ccd.d79f38","type":"http response","z":"a903042c.ee3c9","name":"","x":878,"y":832.5,"wires":[]},{"id":"1c7cc5b4.6624aa","type":"switch","z":"a903042c.ee3c9","name":"","property":"WO","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":537.5,"y":829.5,"wires":[["c321fec1.23fa08"],["641eca65.7f7b34"]]},{"id":"c321fec1.23fa08","type":"template","z":"a903042c.ee3c9","name":"Empty Response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":710.5,"y":794.5,"wires":[["a7423ccd.d79f38"]]},{"id":"32e5cf09.6ab7b8","type":"template","z":"a903042c.ee3c9","name":"Empty response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":611.5,"y":539.5,"wires":[["e76e0dd2.4f184"]]},{"id":"d8e768a2.61bde8","type":"switch","z":"a903042c.ee3c9","name":"","property":"WO","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":438.5,"y":552.5,"wires":[["32e5cf09.6ab7b8"],["e0074e03.e19c28"]]}]
