nodered/gatherFlowData.txt
[{"id":"8d81ff37.8bb99","type":"twilio-api","z":"7bf132a.d9eedcc","sid":"AC2592b4c285d4712336d61e4e58765981","from":"+15005550006","name":"Test Account"},{"id":"1cd72a0d.d52ee6","type":"ibmiot in","z":"7bf132a.d9eedcc","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"WATERFLOW","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":156.5,"y":171.5,"wires":[["a7408263.f31e9","b0add684.b2f34"]]},{"id":"d3466572.b4e6a8","type":"debug","z":"7bf132a.d9eedcc","name":"","active":false,"console":"false","complete":"true","x":602.5,"y":164,"wires":[]},{"id":"a7408263.f31e9","type":"function","z":"7bf132a.d9eedcc","name":"","func":"var tmpArray = [10];\nvar curID = msg.deviceId;\nvar found = false;\n\nif (context.global.deviceArrayInitialized!==true) {\n    context.global.deviceArray = tmpArray;\n    for (i = 0; i< 6; i++) \n        context.global.deviceArray.push({\"Flow\":0,\"AvgFlow\":0,\"Counter\":0});\n    context.global.deviceArrayInitialized = true;\n}\nvar deviceIndex = parseInt(curID.substr(4,2)); // Extract the last 2 digits from the deviceID\ncontext.global.deviceArray[deviceIndex] = {\n    \"Counter\" : context.global.deviceArray[deviceIndex].Counter, \n    \"Flow\": msg.payload.d.Flow, \n    \"AvgFlow\": msg.payload.d.AvgFlow};\nmsg = {\"Flow\": context.global.deviceArray[deviceIndex].Flow,\n    \"AvgFlow\": context.global.deviceArray[deviceIndex].AvgFlow,\n    \"Counter\": context.global.deviceArray[deviceIndex].Counter\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":398.5,"y":158.5,"wires":[["d3466572.b4e6a8"]]},{"id":"91c24e32.8a949","type":"inject","z":"7bf132a.d9eedcc","name":"Initialise Array","topic":"Initialise Sensor Array","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.5,"y":668.5,"wires":[["dab202f5.a5cc"]]},{"id":"dab202f5.a5cc","type":"function","z":"7bf132a.d9eedcc","name":"","func":"context.global.deviceArrayInitialized = false;\ncontext.global.deviceArray.length = 0;\ncontext.global.S01SMS = false;\ncontext.global.S02SMS = false;\nreturn msg;","outputs":1,"noerr":0,"x":395.5,"y":673.5,"wires":[[]]},{"id":"b0add684.b2f34","type":"debug","z":"7bf132a.d9eedcc","name":"","active":false,"console":"false","complete":"true","x":364.5,"y":101,"wires":[]},{"id":"6f3bfc91.71b4e4","type":"function","z":"7bf132a.d9eedcc","name":"Check Flows","func":"//Check to see if flow is well below average & increment counter if so\nfor (i=1; i<4; i++) {\n    if (context.global.deviceArray[i].AvgFlow != 0 && (context.global.deviceArray[i].Flow + (context.global.deviceArray[i].AvgFlow/4)) < context.global.deviceArray[i].AvgFlow)\n        context.global.deviceArray[i].Counter++;\n    else\n        context.global.deviceArray[i].Counter = 0; // No - reset the counter\n}\n\nvar dC = [];\n\nfor (i=1; i<6; i++) {\n    dC.push(context.global.deviceArray[i].Counter);\n}\n\n//var msgs = [5];\n//Beware - dC is 0 to 4, deviceArray is 1-5!!\nfor (i=2; i>=0; i--) { //Start downstream & work upstream\n    if (dC[i] === 3) {\n        for (j=i-1; j >=0 ; j--) { // Check upstream\n            if (dC[j] > 0)\n                continue; // Low flow detected here too\n            else\n                break; // Normal flow\n        }\n        msg = {\"payload\":\"Leak before flow sensor \" + (j+2).toString() +\" (detected at \"+(i+1).toString() + \")\", \"counter\":dC[i]};\n        break;\n    }\n    else\n        msg = null;\n}\nreturn msg;","outputs":"1","noerr":0,"x":418.5,"y":447.5,"wires":[["d3a8d886.5c1df8","b1487781.41b988","a15b5e7e.3052b8"]]},{"id":"fecaca24.b9236","type":"inject","z":"7bf132a.d9eedcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":150.5,"y":339.5,"wires":[["6f3bfc91.71b4e4","15bc58ff.30a917"]]},{"id":"d3a8d886.5c1df8","type":"debug","z":"7bf132a.d9eedcc","name":"","active":false,"console":"false","complete":"true","x":745.5,"y":362,"wires":[]},{"id":"b1487781.41b988","type":"http request","z":"7bf132a.d9eedcc","name":"Request to on-prem Maximo","method":"POST","ret":"txt","url":"http://maximogatewayjhm.mybluemix.net/createWorkOrder?description={{payload}}&location=OFF301&site=BEDFORD&assetnum=DEVICEA","x":566,"y":536,"wires":[["65bdd177.4850c"]]},{"id":"65bdd177.4850c","type":"function","z":"7bf132a.d9eedcc","name":"Work Order","func":"var wo = JSON.parse(msg.payload);\nmsg.payload = \"The Work Order number is : \" + wo.WorkOrderNumber;\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":612,"wires":[["cb03617f.11f73","a15b5e7e.3052b8"]]},{"id":"cb03617f.11f73","type":"debug","z":"7bf132a.d9eedcc","name":"","active":false,"console":"false","complete":"false","x":853.5,"y":680,"wires":[]},{"id":"c7e65c5e.48e2d8","type":"catch","z":"7bf132a.d9eedcc","name":"Catchall","scope":null,"x":154.5,"y":735.5,"wires":[[]]},{"id":"15bc58ff.30a917","type":"function","z":"7bf132a.d9eedcc","name":"","func":"var dC = [];\n\nfor (i=1; i<6; i++) {\n    dC.push(context.global.deviceArray[i].Counter);\n}\n\nmsg = {payload:dC[0].toString()+\":\"+dC[1].toString()+\":\"+dC[2].toString()+\":\"+dC[3].toString()+\":\"+dC[4].toString()+\":\"};\nreturn msg;","outputs":1,"noerr":0,"x":308.5,"y":280.5,"wires":[["34ad2281.562656"]]},{"id":"34ad2281.562656","type":"debug","z":"7bf132a.d9eedcc","name":"","active":false,"console":"false","complete":"false","x":488.5,"y":274,"wires":[]},{"id":"a15b5e7e.3052b8","type":"twilio out","z":"7bf132a.d9eedcc","service":"_ext_","twilio":"8d81ff37.8bb99","from":"","number":"+61411852519","name":"Send SMS","x":830.5,"y":494,"wires":[]},{"id":"3e40a128.d32b8e","type":"comment","z":"7bf132a.d9eedcc","name":"Data Collection","info":"Data Collection","x":148.5,"y":105.5,"wires":[]},{"id":"e4a1a1e8.9b7888","type":"comment","z":"7bf132a.d9eedcc","name":"Administration","info":"","x":160.5,"y":589.5,"wires":[]},{"id":"e1ea38d0.6a5fe8","type":"comment","z":"7bf132a.d9eedcc","name":"Determine Failure Location from Model","info":"","x":431.5,"y":381.5,"wires":[]}]
