nodered/gatherSmartMeter.txt
[{"id":"ce51f7c0.22592","type":"twilio-api","z":"","sid":"AC6b602693ccd1a2b294326162dd0c409e","from":"+1 669-800-5735 ","name":"Twilio Credentials"},{"id":"a4038569.530498","type":"ibmiot in","z":"9d2377bf.c59978","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"SMART01","applicationId":"","deviceType":"SMARTMETER","eventType":"+","commandType":"","format":"json","name":"SMART01","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":198.5,"y":223.5,"wires":[["20bf53bb.7fff6c","16162176.9a727f"]]},{"id":"20bf53bb.7fff6c","type":"function","z":"9d2377bf.c59978","name":"Process","func":"\nif (msg.payload.d.ContTotal < 0.8) {\n    context.global.S01SMS = false;\n    msg = null;\n} else if (context.global.S01SMS == false) {\n    msg.payload = \"Dear Hospital Admin, Your water usage may be excessive.  Recent use exceeds 80KL!\";\n    context.global.S01SMS = true;\n} else {\n    msg = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":399.5,"y":224.5,"wires":[["19f7f41f.223f94","2c210beb.f9f414"]]},{"id":"15d0ad1f.d4a1b3","type":"function","z":"9d2377bf.c59978","name":"","func":"\nif (msg.payload.d.ContTotal < 0.8) {\n    context.global.S02SMS = false;\n    msg = null;\n} else if (context.global.S02SMS == false) {\n    msg.payload = \"Dear Homeowner, Your water usage may be excessive.  Recent use exceeds 80KL!\";\n    context.global.S02SMS = true;\n} else {\n    msg = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":310,"wires":[["19f7f41f.223f94","2c210beb.f9f414"]]},{"id":"3140cbf6.35b25c","type":"ibmiot in","z":"9d2377bf.c59978","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"SMART02","applicationId":"","deviceType":"SMARTMETER","eventType":"+","commandType":"","format":"json","name":"SMART02","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":197,"y":309,"wires":[["15d0ad1f.d4a1b3","16162176.9a727f"]]},{"id":"19f7f41f.223f94","type":"debug","z":"9d2377bf.c59978","name":"","active":false,"console":"false","complete":"false","x":636.5,"y":175,"wires":[]},{"id":"2c210beb.f9f414","type":"twilio out","z":"9d2377bf.c59978","service":"_ext_","twilio":"ce51f7c0.22592","from":"","number":"+61411852519","name":"Send SMS","x":645,"y":315,"wires":[]},{"id":"16162176.9a727f","type":"debug","z":"9d2377bf.c59978","name":"","active":false,"console":"false","complete":"false","x":292.5,"y":134,"wires":[]}]
