nodered/gatherpHData.txt
[{"id":"ce51f7c0.22592","type":"twilio-api","z":"","sid":"AC6b602693ccd1a2b294326162dd0c409e","from":"+1 669-800-5735 ","name":"Twilio Credentials"},{"id":"235d0284.8ba46e","type":"ibmiot in","z":"ab24b6c5.c0f2c","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"PH0001","applicationId":"","deviceType":"WATERPH","eventType":"+","commandType":"","format":"json","name":"Upstream pH Data Gathering","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":162.5,"y":243.5,"wires":[["a923eed3.74e328","84d2cdd4.91f31"]]},{"id":"a923eed3.74e328","type":"function","z":"ab24b6c5.c0f2c","name":"","func":"context.global.upstreampH = msg.payload.d.pH;\nif (msg.payload.d.pH < 5)\n    context.global.upstreamWarn++;\nelse {\n    context.global.pHupWO = 0;\n    context.global.upstreamWarn = 0;\n}\nif (context.global.upstreamWarn == 3){\n    msg = {payload: \"Upstream polution event detected. Estimate downstream impact in 32 seconds\"}\n    return msg;    \n} else return null;\n","outputs":1,"noerr":0,"x":436.5,"y":243.5,"wires":[["2ce8bf84.6b86f8","4ba68cd0.9eba7c"]]},{"id":"2ce8bf84.6b86f8","type":"twilio out","z":"ab24b6c5.c0f2c","service":"_ext_","twilio":"ce51f7c0.22592","from":"","number":"+61411852519","name":"Send SMS","x":846,"y":495,"wires":[]},{"id":"4ba68cd0.9eba7c","type":"http request","z":"ab24b6c5.c0f2c","name":"Request to on-prem Maximo","method":"POST","ret":"txt","url":"http://maximogatewayjhm.mybluemix.net/createWorkOrder?description={{payload}}&location=OFF301&site=BEDFORD&assetnum=PH1","x":442,"y":393,"wires":[["71076b2c.a1781c"]]},{"id":"71076b2c.a1781c","type":"function","z":"ab24b6c5.c0f2c","name":"Work Order","func":"var wo = JSON.parse(msg.payload);\ncontext.global.pHupWO = wo.WorkOrderNumber;\nmsg.payload = \"The Work Order number is : \" + wo.WorkOrderNumber;\nreturn msg;\n","outputs":1,"noerr":0,"x":566,"y":486,"wires":[["2ce8bf84.6b86f8"]]},{"id":"a1253b07.99ace8","type":"comment","z":"ab24b6c5.c0f2c","name":"Extract work order from HTTP call","info":"","x":646.5,"y":448.5,"wires":[]},{"id":"a69f9216.238d58","type":"function","z":"ab24b6c5.c0f2c","name":"","func":"context.global.upstreamWarn = 0;\ncontext.global.downstreamWarn = 0;\ncontext.global.pHupWO = 0;\ncontext.global.pHdownWO = 0;\nreturn msg;","outputs":1,"noerr":0,"x":414.5,"y":1011.5,"wires":[[]]},{"id":"1d04751b.1b66f3","type":"inject","z":"ab24b6c5.c0f2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125.5,"y":1010.5,"wires":[["a69f9216.238d58"]]},{"id":"84d2cdd4.91f31","type":"debug","z":"ab24b6c5.c0f2c","name":"","active":false,"console":"false","complete":"false","x":259.5,"y":309,"wires":[]},{"id":"a2c83817.b10d4","type":"ibmiot in","z":"ab24b6c5.c0f2c","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"PH0002","applicationId":"","deviceType":"WATERPH","eventType":"+","commandType":"","format":"json","name":"Downstream pH Data Gathering","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":185,"y":623,"wires":[["f319fa6e.024768","3ad47462.729384"]]},{"id":"f319fa6e.024768","type":"function","z":"ab24b6c5.c0f2c","name":"","func":"context.global.downstreampH = msg.payload.d.pH;\nif (msg.payload.d.pH < 5) {\n    context.global.downstreamWarn++;\n }\nelse {\n        context.global.pHdownWO = 0; \n        context.global.downstreamWarn = 0;\n}\n\nif (context.global.downstreamWarn == 3){\n    msg = {payload: \"Downstream polution event detected. Estimate consumer impact in 2 minutes\"}\n    return msg;    \n} else return null;\n","outputs":1,"noerr":0,"x":449,"y":623,"wires":[["e2c1dc06.bb1408","66bd16be.ae0a1"]]},{"id":"e2c1dc06.bb1408","type":"twilio out","z":"ab24b6c5.c0f2c","service":"_ext_","twilio":"","from":"","number":"+61411852519","name":"Send SMS","x":782.5,"y":637.5,"wires":[]},{"id":"66bd16be.ae0a1","type":"http request","z":"ab24b6c5.c0f2c","name":"Request to on-prem Maximo","method":"POST","ret":"txt","url":"http://maximogatewayjhm.mybluemix.net/createWorkOrder?description={{payload}}&location=OFF301&site=BEDFORD&assetnum=PH1","x":454.5,"y":772.5,"wires":[["8632acce.2f577"]]},{"id":"8632acce.2f577","type":"function","z":"ab24b6c5.c0f2c","name":"Work Order","func":"var wo = JSON.parse(msg.payload);\ncontext.global.pHdownWO = wo.WorkOrderNumber;\nmsg.payload = \"The Work Order number is : \" + wo.WorkOrderNumber;\nreturn msg;\n","outputs":1,"noerr":0,"x":662.5,"y":866.5,"wires":[["e2c1dc06.bb1408"]]},{"id":"43fe20b7.ec00e","type":"comment","z":"ab24b6c5.c0f2c","name":"Extract work order from HTTP call","info":"","x":659,"y":828,"wires":[]},{"id":"3ad47462.729384","type":"debug","z":"ab24b6c5.c0f2c","name":"","active":false,"console":"false","complete":"false","x":272,"y":688.5,"wires":[]},{"id":"57c007a0.ed37e8","type":"function","z":"ab24b6c5.c0f2c","name":"","func":"msg.payload = {\"pHupWO\": context.global.pHupWO,\n\"pHdownWO \" :context.global.pHdownWO};\nreturn msg;","outputs":1,"noerr":0,"x":327.5,"y":527.5,"wires":[["e009a3c3.fc404"]]},{"id":"3dd31455.ffc304","type":"inject","z":"ab24b6c5.c0f2c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136.5,"y":498.5,"wires":[["57c007a0.ed37e8"]]},{"id":"e009a3c3.fc404","type":"debug","z":"ab24b6c5.c0f2c","name":"","active":false,"console":"false","complete":"false","x":521.5,"y":538,"wires":[]}]
